{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Federico D. Gonzalez</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium possimus quam corrupti labore veritatis molestiae consectetur suscipit minima. Nam aperiam repellendus deleniti harum iste necessitatibus beatae, ad debitis perspiciatis libero!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/doc.jpg" class='img-thumbnail' alt="imagen">
    </div>
</div>
    
    
{{> footer}}